@using BOOKSTORE00.ViewModels;
@model BranchOfficeViewModel;

@{
    ViewData["Title"] = "Index";
}

<h1>BRANCHOFFICE</h1>

<p>
    <button type="button" class="btn btn-info"><a class="Links" asp-action="Create" >CREATE BRANCHOFFICE</a></button>
</p>

<div class="row">
    <form method="get" asp-action="Index" asp-controller="BranchOffice">
        <div class="col-6 form-group">
            <input class="form-control" asp-for="NameFilter">
        </div>
        <button class="btn btn-danger" type="submit">SEARCH</button>
    </form>
</div> 

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Branches) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<!DOCTYPE html>
<html>
<head>
    <link rel="icon">
    <title>Images</title>
    <style>
        body {
            height: 100vh;
            background-image: url("https://wallpaper.dog/large/10824468.jpg");
             color:blue;
            padding: 10px;
            background-position: auto;
            background-size: cover ;
            background-position: fixed;
            background-repeat: no-repeat;
        }
    </style>
</head>
</html>